.btn-primary {
    background-color: transparent;
}

.luck-button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.luck-button-group .luck-button-btn {
    width: fit-content;
    background-color: transparent;
    border-color: transparent;
    border-radius: 100px;
}

.luck-button-group .luck-button-btn:hover {
    background-color: #c0c9fa;
    border: none;
    border-radius: 100px;
}

.luck-button-group .luck-button-btn .luck-button-btn-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #2f04a4;
    text-shadow: -1px 1px #ffffff, -1px -1px #ffffff, 1px -1px #ffffff, 1px 1px #f3f3f2, 3px 3px #6ac7c2;
    margin: auto;
    letter-spacing: 0.1rem;
}